*.pyc
.vscode/*
.DS_Store
src/modules/__pycache__/*
data/mesh_convergence/convergence.csv
data/mesh_convergence/convergence.csv
src/__init__.py
src/modules/__init__.py

src/post_pro/plots/*
degoede_ignore/*
src/optimization_interfaces/__pycache__/*
